/* `HTML tags redefine
----------------------------------------------------------------------------------------------------*/
body { 
	background: url(../images/header.png) top repeat-x #fff8eb;
	font: 12px "Lucida Grande", Sans-Serif; 
	color: #6e5830;
	line-height: 20px; 
}

/* Overall elements definition      
----------------------------------------------------------------------------------------------------*/
                              
a, a:hover, a:active { text-decoration: underline; color: #ff8f00; }      
h1, h2, h3, h4, h5 { color: #ff8f00; margin-bottom: 10px; }
h1 { font-size: 24px; line-height: 24px; margin-bottom: 20px; }      
h2 { font-size: 18px; line-height: 20px; margin-bottom: 16px; }  
h3 { font-size: 14px; line-height: 14px; margin-bottom: 16px; }   
h4 { font-size: 16px; }

.flash {
	border: 1px solid;
	padding: 10px 20px 10px 20px;
	-moz-border-radius: 4px;	
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin-bottom: 20px;
	-webkit-box-shadow: inset 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #fff;
	text-shadow: 1px 1px 1px #fff;   
	z-index: 199;
}     
.containerFull .flash { margin: 20px; position: relative; }

.notice { background: #fffbc1; color: #ce8c1a; border-color: #ce8c1a; }
.error { background: #fbd6d6; color: #d05f5f; border-color: #d05f5f; }
.success { background: #defce0; color: #52875d; border-color: #52875d; }  

input, textarea { 
	background: url(../images/inputBackground.jpg) repeat-x top #fff7ea;
	width: 195px;
	font-size: 12px;
	border: 1px solid #c4b499;
	color: #6e5830;
	padding: 8px 10px 8px 10px;
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	margin-right: 10px;
}    
   
textarea { height: 100px; }

input[type="radio"] { width: auto; }             

.actions input, 
input.button,
a.button {
	width: auto!important;
	text-shadow: 1px 1px 1px #fdebcf;
	color: #a74002;
	border: 1px solid #c46f08;
	background: url(../images/buttonOrange.jpg) top repeat-x #ff8b02;
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	border-radius: 3px;	
}  

.plain { border: 0; background: none; width: auto; padding: 0; margin: 0; }
           
.clear { clear: both; }     

/* `Site structure
----------------------------------------------------------------------------------------------------*/

/* unlogged user pages */
.container { width: 650px; margin: auto; }
#header { height: 50px; margin-bottom: 20px; color: #fff; }
.container #content {  
	background: #f0e1c7;
	border: 1px solid #c4b499;  
	padding: 20px;     
	
}

/* logged in user map-page */
.containerFull { width: 100%; height: 100%; position: relative; min-width: 960px; }
.containerFull #header {  
		z-index: 100;
		height: 49px; line-height: 49px;    
		margin: 0;      
		padding: 0px 10px 0 10px;
}
.containerFull #subHeader { 
	top: 49px; z-index: 100;
	background: url(../images/subHeader.jpg) repeat-x scroll 0 0 transparent;
	color: #BDA17B;
	height: 38px;
	line-height: 38px; 
	padding: 0 10px 0 10px;
}   

.containerFull #content { height: 100%; position: fixed; top: 87px; width: 100%; }  

/* all logged in pages without map */
body.subpage .container { width: 760px; }  

/* `Header elements
----------------------------------------------------------------------------------------------------*/

#header .userInfo { float: left; height: 49px; line-height: 49px; }       
#header .userInfo .gravatar { float: left; border: 2px solid #fff; margin: 10px; }

#header .menu { float: right; }
#header .menu li { 
	display: inline; 
	float: left; 
	height: 49px;
	line-height: 49px;   
	position: relative; 
}     
#header .menu li span.info {
	display: block;  
	position: absolute; 
	top: 6px; right: -3px;
	height: 15px;
	width: 15px;
	text-align: center;
	line-height: 15px;
	font-size: 11px;  
	color: #7d2503;
	font-weight: bold;          
}   

#header a#logo {
	background: url(../images/logo.png) no-repeat center left;
	text-indent: -9999px;
	display: block;
	height: 49px;
	width: 53px;
	float: left;
}

#header a { color: #fff; }

#header ul.menu li a {	
 	text-decoration: none;
	text-shadow: -1px 1px 1px #ac6f17;
	font-size: 12px;
	color: #fff;
	padding: 6px 10px 6px 10px;
	display: inline;
}

#header ul.menu li a.current,
#header ul.menu li a:hover {
	border-top: 1px solid #a35900;
	border-bottom: 1px solid #ffb85c;
	background: #d9821a;
	-moz-box-shadow: inset 0px 0px 3px #a35900;
	-webkit-box-shadow: inset 0px 0px 3px #a35900;
	
	-moz-border-radius: 3px;	
	-webkit-border-radius: 3px;
	border-radius: 3px;
}                       

#subHeader form#geo { float: left; margin-right: 10px; } 

#subHeader a.button,
#subHeader input.button,
#subHeader input { 
	padding: 5px 6px 5px 6px; 
	text-decoration: none; 
	border: 0;
	margin-right: 0px; 
}

/* `Content elements
----------------------------------------------------------------------------------------------------*/ 
   
.field { margin-bottom: 10px; }       
.containerFull #content #map { height: 100%; width: 100%; }   
#main ul li form { display: inline-block; }    

	  /* settings */    
  
form#geo,  
#search #map,
#search p { margin: 0 0 10px 0; }
#search .field { margin: 0; }

      /* users */

body.subpage #content { padding: 0; float: left; width: 100%; }                        
body.subpage #content #main { width: 540px; float: left; }
body.subpage #content #main ul#search { margin: 0; padding: 20px; float: left; width: 500px; } 
body.subpage #content #main ul#search li * { float: left; margin-right: 5px; }

body.subpage #content #main #friends ul { margin: 0 0 10px 0; float: left; }
body.subpage #content #main #friends ul li img { float: left; margin: 0 5px 0 0 ; }
body.subpage #content #main #friends ul li { float: left; width: 100%; margin: 0 0 10px 0; }

body.subpage #content #side { 
		padding: 15px 20px 15px 20px;
	 	border-left: 1px solid #c4b499;  
		border-bottom: 1px solid #c4b499;    
		width: 179px; 
		float: left;   
		background: #ffeed2;
		}       
		
body.subpage #content #side ul { float: left; width: 100%; display: block; margin: 0 0 10px 0; }    
body.subpage #content #main ul#search li,
body.subpage #content #side ul li { display: block; height: 30px; line-height: 30px; margin-bottom: 5px; }	   
body.subpage #content #side ul li img,
body.subpage #content #side ul li p { margin: 0 5px 0 0; }         

body.subpage #content #side ul li img,
body.subpage #content #side ul li p, 
body.subpage #content #side ul li form { float: left; } 

body.subpage #content #side ul li form { margin: 7px 0 0 0; }  
body.subpage #content #side ul li form input { margin: 0 5px 0 0 ; }               
		     
body.subpage #content #main a.add {
	margin: 7px 0 0 0;
	width: 16px; 
	height: 16px; 
	text-indent: -9999px;
	display: block;
	background: url(../images/iconAdd.png) no-repeat }		
		
body.subpage #content input.accept { 
		background: url(../images/iconAccept.png) no-repeat;
		text-indent: -9999px;
		width: 16px;
		height: 16px;
		border: 0;
		padding: 0;
		float: left; }
body.subpage #content input.abort { 
		background: url(../images/iconAbort.png) no-repeat;
		text-indent: -9999px;
		width: 16px;
		height: 16px;
		border: 0;
		padding: 0;
		float: left; 
}                          

body.subpage #content #main .box,
body.subpage #content .box { padding: 20px; }                           
body.subpage #content #search.box { background: #fff; }


form#new_location { display: inline-block; }

/* `Subpage elements
----------------------------------------------------------------------------------------------------*/



