/* `HTML tags redefine
----------------------------------------------------------------------------------------------------*/
html { height: 100%; }
body { 
	height: 100%;
	background: #fff;
	font: 12px "Lucida Grande", Sans-Serif; 
	color: #000;
	line-height: 18px; 
}

.block { width: 100%; }

.flash { float: left; }

/* `Site structure
----------------------------------------------------------------------------------------------------*/

.container { width: 960px; margin: auto; background: #d3c1a9; }
.container #header { background: #8d8d8d; }
#main.container { padding-top: 80px; }

.containerFull { width: 100%; height: 100%; background: #d3c1a9; position: relative; }
.containerFull #header { background: #8d8d8d; position: absolute; top: 0; z-index: 100; }
.containerFull #subHeader { background: #e68b12; position: absolute; top: 40px; z-index: 100; }
.containerFull #content { height: 100%; }

/* `Header elements
----------------------------------------------------------------------------------------------------*/

#header #logo { height: 40px; line-height: 40px; padding: 0 15px 0 15px; }
#header .menu { float: right;  }
#header .menu li { 
	display: inline-block; 
	float: left; 
	margin: 0 15px 0 0;
	height: 40px;
	line-height: 40px; 
}

/* `Content elements
----------------------------------------------------------------------------------------------------*/
/* #content #map { height: 100%; width: 100%; } */

/* `Subpage elements
----------------------------------------------------------------------------------------------------*/



