<div class="box" id="search">   
<% form_tag users_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Szukaj", :name => nil, :class => "button" %>
<% end %>                   
</div>
     
<ul id='<% if @users_found == nil %><% else %>search<% end %>'>     
<% if @users_found == nil %> 
<% else %>
<% @users_found.each do |user| %>
	<li><%= render user %></li>
<% end %>  
<% end %>  

</ul>          