<h1>Szukaj:</h1>
<% form_tag users_path, :method => 'get' do %>
  <p style="margin-bottom: 15px">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Szukaj", :name => nil, :class => "button" %>
  </p>
<% end %> 
       
<ul>     
<% if @users_found == nil %> 
<% else %>
<% @users_found.each do |user| %>
	<li><%= render user %></li>
<% end %>  
<% end %>  

</ul>