<div id="main" class="container">

<%= @user.name %> <%= @user.surname %> ma <%= @user.locations.count %> dodanych lokacji.<br><br> 

<% unless @user.locations.empty? %>
	<ul>
		<%= render @locations %>
	</ul>
<% end %>

</div>