<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&amp;sensor=false&amp;region=pl"></script> 

<div class="field">
	<br><br>
	<h1>Miejsce domowe</h1>

	<div class="field">
	<form id="geo" action="#" onsubmit="skoczDoAdresu(document.getElementById('szukanyAdres').value); return false;">
	    Wpisz tutaj swój adres, by odnaleźć go na mapie i dodać do bazy.
	    <br />
	    <input type="text" style="width: 280px; border: 1px solid black; color: #898989; font-size: 1.1em; padding: 3px;" id="szukanyAdres" />
	    <input type="submit" value="Pokaż na mapie" />
	</form><br><Br>
	</div>
</div>                                         

<script type="text/javascript">   
		<!-- 
		

			
			
			var mapa; // obiekt globalny			
			var dymek = new google.maps.InfoWindow();
			var marker = new google.maps.Marker()
			var geokoder = new google.maps.Geocoder();
						
			function mapaStart()  
			{  
				var wspolrzedne = new google.maps.LatLng(52.143602398455315,19.23980712890625);
				var opcjeMapy = {
					zoom: 6,
					center: wspolrzedne,
					mapTypeId: google.maps.MapTypeId.HYBRID,
					mapTypeControl: true
				};
				
				mapa = new google.maps.Map(document.getElementById("map"), opcjeMapy); 			
				
				google.maps.event.addListener(mapa,'click',function(zdarzenie)
				{
					if(zdarzenie.latLng)	
					{ 
						marker.setPosition(zdarzenie.latLng);
						marker.setMap(mapa);																				
						var jeden = zdarzenie.latLng.lat();
						var dwa = zdarzenie.latLng.lng();
						document.getElementById('location_latitude').value = jeden;
						document.getElementById('location_longitude').value = dwa;
					}
				});
			}
			
			
			function skoczDoAdresu(adres)
			{
				marker.setMap(null);
				geokoder.geocode({address: adres}, function(wyniki, status)
				{
					if(status == google.maps.GeocoderStatus.OK)
					{
						mapa.setZoom(19);
						mapa.setCenter(wyniki[0].geometry.location);
						marker.setPosition(wyniki[0].geometry.location);
						marker.setMap(mapa);
					}
					else
					{
						alert("Nie znalazłem podanego adresu!");
					}
				});
			}
			
			function obslugaGeokodowania(wyniki, status)
			{
				
			}
			
			  
			
		-->
</script>

<div id="map" style="width: 500px; height: 300px;"></div>
<script type="text/javascript">
mapaStart();
</script>