<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>    
<%= javascript_include_tag "jxs" %> 

<script type="text/javascript">   
			var mapa; 	// obiekt globalny
			var dymek; 	// okno z informacjami            
                 
			var bounds = new google.maps.LatLngBounds(); 
			
			 
						
			function mapaStart()  
			{          
				var myLatlng = new google.maps.LatLng(52.146973,18.918457);
				var opcjeMapy = {
					zoom: 7,
					center: myLatlng,
					mapTypeId: google.maps.MapTypeId.HYBRID,
				};                     
				
				mapa = new google.maps.Map(document.getElementById("map"), opcjeMapy); 	
				dymek = new google.maps.InfoWindow(); 
				              
				
				wczytajMarkery(); 
				    
			}    
			
			// wspólne cechy ikon
			var rozmiar = new google.maps.Size(39,39);
			var punkt_startowy = new google.maps.Point(0,0);
			var punkt_zaczepienia = new google.maps.Point(20,51);    
			
			// wspólne cechy cienia
			var rozmiar_cien = new google.maps.Size(49,56);
			var c_punkt_startowy = new google.maps.Point(0,0);
			var c_punkt_zaczepienia = new google.maps.Point(25,56);  
			
			
			var cien = new google.maps.MarkerImage("../images/markerShadow.png", rozmiar_cien, c_punkt_startowy, c_punkt_zaczepienia);
			
			
			function wczytajMarkery()
			{
				jx.load('feed.xml', function(xml)
				{  
					
					var markery = xml.getElementsByTagName("marker");
					for(var i=0; i<markery.length; i++)
					{
						var lat			=	parseFloat(markery[i].attributes.getNamedItem("lat").nodeValue);
						var lon			=	parseFloat(markery[i].attributes.getNamedItem("lon").nodeValue);
						var nazwa		=	markery[i].attributes.getNamedItem("nazwa").nodeValue;     
						var ikona_url	=	markery[i].attributes.getNamedItem("ikona").nodeValue;
						var ikona 		= 	new google.maps.MarkerImage(ikona_url, rozmiar, punkt_startowy, punkt_zaczepienia)
						var opis		=	markery[i].attributes.getNamedItem("opis").nodeValue;
						var tytul		=	markery[i].attributes.getNamedItem("tytul").nodeValue;  
						var czas		=	markery[i].attributes.getNamedItem("czas").nodeValue;  
						var position 	=   new google.maps.LatLng(lat, lon);           
					    bounds.extend(position); 
						var marker		=	dodajMarker(position,nazwa,opis,tytul,czas,ikona);   		  
					}
				},'xml','get');
			}
				
			function dodajMarker(position,nazwa,opis,tytul,czas,ikona)
			{   
				var marker	=	new google.maps.Marker(
					{
						position: position,
						title: nazwa, 
						map: mapa,      
						animation: google.maps.Animation.DROP, 
						icon: ikona,  
						shadow: cien,
					}
				);                 
                                     
				mapa.fitBounds(bounds);       
				   		
				marker.txt	=	'<strong>'+nazwa+'</strong><br/>'+tytul+'<br/>'+opis+'<br/>'+czas+'';
				
				google.maps.event.addListener(marker,"mouseover",function()
				{
					dymek.setPosition(marker.getPosition());
					dymek.setContent(marker.txt);
					dymek.open(mapa);
				});           
				   
				return marker;
			}     
			
			function showClosest() { mapa.setZoom(14); }    			
			function showEveryone() { mapa.fitBounds(bounds); }  
			
      
			
		</script>
		
	   		<div id="map">
			</div>  
			
			<script type="text/javascript">
			mapaStart();                
			</script>
