<% unless @contacts == [] %>     
	<ul>
	<% @contacts.each do |contact| %>
        <li>
		<% location = Location.for_user(contact).first %>
		<%= location.user.name %><br />
		<%= location.title %><br />      
		<%= location.description %><br /> 
		<%= location.created_at %><br /><br />
        </li>
	<% end %>
	</ul>
<% end %>