<% if signed_in? %>
<h1>Gdzie jesteś?</h1>       
  
<%= render 'shared/map_add'%>
<%= render 'locations/fields' %>
<%= render 'shared/feed' %>                        

<% else %>

<h1>Witojcie!</h1>
<p>Jetu app w drodze!</p>
	
<% end %>
