<% if signed_in? %>    
  
<%= render 'shared/map'%>

<% else %>

<iframe src="http://player.vimeo.com/video/21465475?title=0&amp;byline=0&amp;portrait=0" width="651" height="366" frameborder="0"></iframe>

<div id="about">
	<h4>Bądź jeszcze bliżej ze znajomymi.</h4>
	Udostępniaj informacje o miejscu w którym jesteś swoim znajomym i jednocześnie dowiedz się gdzie znajdują się Twoi najbliżsi. Spotykaj ich, wychodź i baw się!
</div>

<div id="shortcuts">
	<div id="shortcutLogin">
		<a class="shortcutPic" href="">Zaloguj</a>
		<strong>Jesteś użytkownikiem?</strong>
		<a href="login.html">Zaloguj się!</a>
	</div>
	<div id="shortcutRegister">
		<a class="shortcutPic" href="">Zarejestruj</a>
		<strong>Nie masz jeszcze konta?</strong>
		<a href="register.html">Zarejestruj się!</a>
	</div>
</div>

<% end %>
