<% if signed_in? %>    
  
<%= render 'shared/map'%>

<% else %>

<iframe src="http://player.vimeo.com/video/21465475?title=0&amp;byline=0&amp;portrait=0" width="651" height="366" frameborder="0"></iframe>

<div id="about">
	<h4>Bądź jeszcze bliżej ze znajomymi.</h4>
	Udostępniaj informacje o miejscu w którym jesteś swoim znajomym i jednocześnie dowiedz się gdzie znajdują się Twoi najbliżsi. Spotykaj ich, wychodź i baw się!
</div>

<div id="shortcuts">  
	<%= link_to "", signup_path, :class => "register" %>
	<%= link_to "Zaloguj się", login_path %> jeżeli masz już konto.
</div>

<% end %>
