<%= render 'map' %>

<div class="box">
<h1 class="plain">Dodajesz nową lokalizację</h1>
</div>

<div class="box" id="search"> 
	<h3>Wyszukaj adres i kliknij na mapie by upuścić marker</h3>
<form id="geo" action="#" onsubmit="skoczDoAdresu(document.getElementById('szukanyAdres').value); return false;">
<input type="text" id="szukanyAdres" value="Szukany adres" 
onblur="if (this.value == '') {this.value = 'Szukany adres';}" onfocus="if (this.value == 'Szukany adres') {this.value = '';}" />
<input type="submit" value="Pokaż na mapie" class="button" />    				
</form>

<div id="map" style="width: 100%; height: 350px"></div>
<script type="text/javascript">
mapaStart();
</script>                  
</div>
 
<div class="box">
	<h3>Uzupełnij opis nowej lokalizacji</h3>
<%= render 'fields' %>                      

</div>

